img {
        transform: rotate(90deg);
}

body {
        background-color: #333333;
}

.column {
        float: left;
        width: 50%;
}

.row:after {
        content: "";
        display: table;
        clear: both;
}
