* {
  box-sizing: border-box;
  font-family: Calibri;
}

body {
  background: rgb(0,255,243);
  background: linear-gradient(211deg, rgba(0,255,243,1) 21%, rgba(93,0,255,1) 78%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
        text-align: center;
        margin: auto;
        margin-bottom: 10px;
}

hr {
  border: 1px solid;
}

.row {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.col {
  width: 30%;
  padding: 10px;
}

.col2 {
  width: 40%;
  padding: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 10px;
  margin: auto;
  text-align: left;
  background-color: #f1f1f1;
  word-wrap: break-word;
}

.card h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 2px;
  margin: auto;
}

.card h5 {
        text-align: left;
        margin: auto;
        margin-bottom: 0px;
        font-size: 18px;
}

.card p {
        margin-bottom: 0px;
        margin-top: 0px;
        margin: auto;
        font-size: 16px;
}

.logos {
  width: 75px;
  height: 75px;
  margin: 5px;
}

#rit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  align-items: center;
}

#profile {
  border-radius: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 200px;
  height: 200px;
  align-items: center;
}
